ul {
	list-style-type: none;	/* remove bullet points */
	margin: 0;				
	padding: 0;				
	position: fixed;		/* make sidebar static upon scroll */
	width: 5%;				/* make sidebar fill up 15% of screen horizontally */
	height: 100%;			/* make sidebar span entire site vertically */
	background-color: #f1f1f1;
}

	