body {
    font-family: 'Courier New', monospace;
    height: 100%;
    margin: 0;
}


/* Room 0 */

#mainroom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 2s;
}

.wrapper {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes wipe{
  0% {transform: scale(0, 0.25);}
  50% {transform: scale(1, 0.25); color: black;}
  100% {transform: scale(1, 1); color: white;}
}

#greeting {
  color: black;
  font-size: 50px;
  background-color: black;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 25px;
  animation: wipe 1.25s forwards;
  display: grid;
  place-items: center;
}

@keyframes slidedown {
  50% {transform: translate(0, 0); color: white;}
  100% {transform: translate(0, 2.5em); color: black;}
}

#name {
  position: relative;
  color: white;
  font-size: 25px;
  animation: slidedown 1.25s forwards;
}


/* Room 1 */

#tomato {
  position: fixed;
  bottom: 100%;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: transform 2s;
}


/* Edges and Arrows */

.border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
  z-index: -1;
}

#north {
  background-image: linear-gradient(#dedede, white);
}

#east {
  background-image: linear-gradient(to left, #dedede, white);
}

#south {
  background-image: linear-gradient(to top, #dedede, white);
}

#west {
  background-image: linear-gradient(to right, #dedede, white);
}

.arrow {
  position: fixed;
  cursor: pointer;
  color: #636363;
  font-family: serif;
  font-size: 40px;
  display: grid;
  place-items: center;
  opacity: 0;
}

.arrow:not(.stop_hover):hover > .border {
  opacity: 1;
}

.arrow.stop_hover {
  cursor: default;
}

@media (min-width: 767px) {

  #up {
    left: 0;
    top: 36%;
    width: 100%;
    height: 7rem;
    transform: translate(0.085em, 0);
    writing-mode: vertical-rl;
  }

  #right {
    right: 40%;
    top: 0;
    height: 100%;
    width: 7rem;
    transform: translate(0, -0.8em);
  }

  #down {
    left: 0;
    bottom: 40%;
    width: 100%;
    height: 7rem;
    transform: translate(0.085em, 0);
    writing-mode: vertical-rl;
  }

  #left {
    left: 40%;
    top: 0;
    height: 100%;
    width: 7rem;
    transform: translate(0, -0.8em);
  }

}

.disabler {
  transition: opacity 0.5s;
}

.disable {
  pointer-events: none;
  opacity: 0;
}

.disable_opaque {
  pointer-events: none;
}


/* Arrow Animations */

@keyframes shoot_up {
  25% {opacity: 1; top: 36%}
  100% {opacity: 1; top: 0rem;}
}

.animate_up {
  animation: shoot_up 2s forwards;
}

@keyframes shoot_right {
  25% {opacity: 1; right: 40%}
  100% {opacity: 1; right: 0rem;}
}

.animate_right {
  animation: shoot_right 2s forwards;
}

@keyframes shoot_down {
  25% {opacity: 1; bottom: 40%}
  100% {opacity: 1; bottom: 0rem;}
}

.animate_down {
  animation: shoot_down 2s forwards;
}

@keyframes shoot_left {
  25% {opacity: 1; left: 40%}
  100% {opacity: 1; left: 0rem;}
}

.animate_left {
  animation: shoot_left 2s forwards;
}


/* Room Transitions */

.exit_bottom, .enter_top {
  transform: translate(0, 100%);
}

.exit_left, .enter_right {
  transform: translate(-100%, 0);
}

.exit_top, .enter_bottom {
  transform: translate(0, -100%);
}

.exit_right, .enter_left {
  transform: translate(100%, 0);
}

